.contributions-list {
  padding: 0;
  margin: 0;
}
.contributions-list li {
    list-style: none outside none;
    padding-left: 10px;
    display: inline-block;
    font-family: "Arvo",serif;
    margin: 0;
    padding: 4px 4px 4px 4px;
}

.contribution a.item-thumbnail {
    float: left;
    margin: 0 10px 0 0;
    width: 20%;
}
.contribution .item-thumbnail img {
    -moz-box-sizing: border-box;
    border: 1px solid #E4E5DE;
    display: block;
    float: left;
    margin: 0;
    width: 100%;
}

a.contribution.status {
    position:relative;
    padding-left: 20px;
    margin-left: 3px;
    margin-right: 3px;
    cursor: pointer;
}

a.contribution.toggle-status.proposed {
    background: url('../../../../../application/views/scripts/images/silk-icons/error.png') no-repeat scroll 0 0 transparent;
}
a.contribution.toggle-status.approved {
    background: url('../../../../../application/views/scripts/images/silk-icons/tick.png') no-repeat scroll 0 0 transparent;
}
a.contribution.toggle-status.rejected {
    background: url('../../../../../application/views/scripts/images/silk-icons/cancel.png') no-repeat scroll 0 0 transparent;
}
a.contribution.reject {
    background: url('../../../../../application/views/scripts/images/silk-icons/cancel.png') no-repeat scroll 0 0 transparent;
}

a.contribution.toggle-status.private {
    background: url('../../../../../application/views/scripts/images/silk-icons/asterisk_orange.png') no-repeat scroll 0 0 transparent;
}
a.contribution.transmit {
    background: url('../../shared/images/waiting-mini.gif') no-repeat scroll 0 0 transparent !important;
}
.action {
    color: #338899;
    cursor: pointer;
}

#reject-overlay{
    display: none;
	position: fixed;
	left:0;
	top:0;
	bottom:0;
	right:0;
	z-index: 100000000;
	background-color : rgba(123, 123, 123, 0.8);
	width: 100%;
	height: 100%;
}
#reject-popup{
    position: absolute;
    background-color: rgba(254, 254,254, 1);
    border: 1px solid #666;
    padding:20px;
/*    top: calc(vh -300px);
    left: calc(vw -200px);*/
    margin-left: auto;
margin-right: auto;
margin-top:auto;
margin-bottom:auto;
top:0;
bottom:0;
left: 0;
right: 0;
    width: 300px;
    height: 150px;
}
#popup-select{
    position: absolute;
    top: 70px;
    left: 50px;
}
#reject-popup .button{
}
#reject-popup .button a{
	display: block;
	padding:6px;
	text-align:center;
	width: 75px;
	border:1px solid #555;
}
#reject-button{
    position: absolute;
    top: 140px;
    right: 30px;
}
#cancel-button{
    position: absolute;
    top: 140px;
    right: 130px;
}

