#add-type {
    float: right;
}

span.prompt {
	padding-left: 10px;
}

input.prompt {
	width: 130px;
}

.drawer-contents .field {
    display: flex;
	margin-top: 1rem;
}

.drawer-contents .field-meta {
    width: 25%;
}

.drawer-contents .field label {
	padding-bottom: 0;
}

.drawer-contents .inputs {
    width: 75%;
	margin-bottom: 0;
}

.existing-element-drop-down + * {
	margin-top: .5rem;
}

.element-head label,
.element-head strong {
	margin: -.25rem 1rem -.25rem 0;
	display: inline-block;
}

.element-head input,
.add-element input {
	margin: 0 .5rem !important;
}

.add-element .drawer-contents {
	display: flex;
	align-items: center;
}

.add-element .drawer-contents label {
	display: inline-flex;
	align-items: center;
	margin: 0 0 0 1rem;
	padding-bottom: 0;
}