#add-type {
    float: right;
}

.element .sortable-item.drawer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: relative;
	justify-content: flex-start;
}

.element .sortable-item.drawer select {
	max-width: 100%;
}

.element .sortable-item.drawer > .drawer-name,
.element .sortable-item.drawer > label {
	margin-right: 1rem !important;
}

.element .sortable-item.drawer button {
	margin-left: auto;
	min-width: 24px;
}

.element .drawer.deleted label {
	display: none;
}

input.prompt {
	width: 130px;
}

.existing-element-dropdown {
	margin-right: 1em;
	font-weight: bold;
}

.drawer-contents .field-meta {
    width: 25%;
}

.drawer-contents .field label {
	padding-bottom: 0;
}

.drawer-contents .inputs {
    width: 75%;
	margin-bottom: 0;
}

.existing-element-drop-down + * {
	margin-top: .5rem;
}

.element-head label,
.element-head strong {
	margin: -.25rem 1rem -.25rem 0;
	display: inline-block;
}

.element-head input,
.add-element input {
	margin: 0 .5rem !important;
}

.add-element .drawer-contents {
	display: flex;
	align-items: center;
}

.add-element .drawer-contents label {
	display: inline-flex;
	align-items: center;
	margin: 0 0 0 1rem;
	padding-bottom: 0;
}