
div#contribution-type-form div.inputs {
	width: 60%;
	
}

div#location_form {
	margin-top: 12px;
}

/* User Profiles integration */

h2.contribution-userprofile  {
	margin-bottom: 3px;
}

.contribution-userprofile-visibility {
	cursor: pointer;
}

p#contribution-userprofile-visibility {
	margin: 2px;
}

div.contribution-userprofile.exists {
	display: none;
}